# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# ===========================
# Build
# ===========================
build/
dist/
*.egg-info/

# PyInstaller
*.spec.bak

# ===========================
# Cache
# ===========================
.pytest_cache/
.mypy_cache/
.cache/

# ===========================
# Logs
# ===========================
*.log

# ===========================
# IDE
# ===========================
.vscode/
.idea/

# ===========================
# Linux
# ===========================
*.deb

# ===========================
# Temporary
# ===========================
output/
temp/

# ===========================
# OS
# ===========================
.DS_Store
Thumbs.db
